In [1]:
import numpy as np
import pandas as pd

In [30]:
df = pd.read_csv('fed_funds_predictions.csv')

In [31]:
df.date[0].split('/')[2][:4] + '-' + df.date[0].split('/')[0] + '-' + '1'

'1993-4-1'

In [32]:
timestamp = []
for i in range(len(df)):
    timestamp.append(df.date[i].split('/')[2][:4] + '-' + df.date[i].split('/')[0] + '-' + '1')
timestamp

['1993-4-1',
 '1993-5-1',
 '1993-7-1',
 '1993-8-1',
 '1993-9-1',
 '1993-10-1',
 '1993-12-1',
 '1994-2-1',
 '1994-2-1',
 '1994-4-1',
 '1994-5-1',
 '1994-7-1',
 '1994-7-1',
 '1994-9-1',
 '1994-11-1',
 '1994-12-1',
 '1994-12-1',
 '1995-3-1',
 '1995-4-1',
 '1995-7-1',
 '1995-8-1',
 '1995-9-1',
 '1995-11-1',
 '1995-12-1',
 '1996-1-1',
 '1996-3-1',
 '1996-5-1',
 '1996-7-1',
 '1996-8-1',
 '1996-9-1',
 '1996-11-1',
 '1996-12-1',
 '1997-2-1',
 '1997-3-1',
 '1997-5-1',
 '1997-7-1',
 '1997-8-1',
 '1997-9-1',
 '1997-11-1',
 '1997-12-1',
 '1998-2-1',
 '1998-3-1',
 '1998-5-1',
 '1998-7-1',
 '1998-8-1',
 '1998-9-1',
 '1998-9-1',
 '1998-10-1',
 '1998-11-1',
 '1998-12-1',
 '1999-2-1',
 '1999-3-1',
 '1999-5-1',
 '1999-6-1',
 '1999-8-1',
 '1999-10-1',
 '1999-11-1',
 '1999-12-1',
 '2000-2-1',
 '2000-3-1',
 '2000-5-1',
 '2000-6-1',
 '2000-8-1',
 '2000-10-1',
 '2000-11-1',
 '2000-12-1',
 '2001-1-1',
 '2001-1-1',
 '2001-3-1',
 '2001-4-1',
 '2001-5-1',
 '2001-6-1',
 '2001-8-1',
 '2001-9-1',
 '2001-10-1',
 '2001-11-1',
 '2001-12-1',
 '2002-1-1',
 '2002-3-1',
 '2002-5-1',
 '2002-6-1',
 '2002-8-1',
 '2002-9-1',
 '2002-11-1',
 '2002-12-1',
 '2003-1-1',
 '2003-3-1',
 '2003-3-1',
 '2003-4-1',
 '2003-4-1',
 '2003-4-1',
 '2003-5-1',
 '2003-6-1',
 '2003-8-1',
 '2003-9-1',
 '2003-10-1',
 '2003-12-1',
 '2004-1-1',
 '2004-3-1',
 '2004-5-1',
 '2004-6-1',
 '2004-8-1',
 '2004-9-1',
 '2004-11-1',
 '2004-12-1',
 '2005-2-1',
 '2005-3-1',
 '2005-5-1',
 '2005-6-1',
 '2005-8-1',
 '2005-9-1',
 '2005-11-1',
 '2005-12-1',
 '2006-1-1',
 '2006-3-1',
 '2006-5-1',
 '2006-6-1',
 '2006-8-1',
 '2006-9-1',
 '2006-10-1',
 '2006-12-1',
 '2007-1-1',
 '2007-3-1',
 '2007-5-1',
 '2007-6-1',
 '2007-8-1',
 '2007-8-1',
 '2007-8-1',
 '2007-9-1',
 '2007-10-1',
 '2007-12-1',
 '2008-1-1',
 '2008-1-1',
 '2008-1-1',
 '2008-3-1',
 '2008-3-1',
 '2008-4-1',
 '2008-6-1',
 '2008-7-1',
 '2008-9-1',
 '2008-9-1',
 '2008-10-1',
 '2008-11-1',
 '2008-12-1',
 '2009-1-1',
 '2009-2-1',
 '2009-3-1',
 '2009-4-1',
 '2009-6-1',
 '2009-6-1',
 '2009-8-1',
 '2009-9-1',
 '2009-11-1',
 '2009-12-1',
 '2010-1-1',
 '2010-3-1',
 '2010-4-1',
 '2010-5-1',
 '2010-6-1',
 '2010-8-1',
 '2010-9-1',
 '2010-10-1',
 '2010-11-1',
 '2010-12-1',
 '2011-1-1',
 '2011-3-1',
 '2011-4-1',
 '2011-6-1',
 '2011-8-1',
 '2011-9-1',
 '2011-11-1',
 '2011-11-1',
 '2012-1-1',
 '2012-3-1',
 '2012-4-1',
 '2012-6-1',
 '2012-8-1',
 '2012-9-1',
 '2012-10-1',
 '2012-12-1',
 '2013-1-1',
 '2013-3-1',
 '2013-5-1',
 '2013-6-1',
 '2013-7-1',
 '2013-9-1',
 '2013-10-1',
 '2013-10-1',
 '2013-12-1',
 '2014-1-1',
 '2014-3-1',
 '2014-3-1',
 '2014-4-1',
 '2014-6-1',
 '2014-7-1',
 '2014-9-1',
 '2014-10-1',
 '2014-12-1',
 '2016-1-1',
 '2016-3-1',
 '2016-4-1',
 '2016-6-1',
 '2016-7-1',
 '2016-9-1',
 '2016-11-1',
 '2016-12-1',
 '2017-2-1',
 '2017-3-1',
 '2017-5-1',
 '2017-6-1',
 '2017-7-1',
 '2017-9-1',
 '2017-11-1',
 '2017-12-1',
 '2018-1-1',
 '2018-3-1',
 '2018-5-1',
 '2018-6-1',
 '2018-8-1',
 '2018-9-1',
 '2018-11-1',
 '2018-12-1',
 '2019-1-1',
 '2019-3-1',
 '2019-5-1',
 '2019-6-1',
 '2019-7-1',
 '2019-9-1',
 '2019-10-1',
 '2019-10-1',
 '2019-12-1',
 '2020-1-1',
 '2020-3-1',
 '2020-3-1',
 '2020-3-1',
 '2020-3-1',
 '2020-4-1',
 '2020-6-1',
 '2020-7-1',
 '2020-8-1',
 '2020-9-1',
 '2020-11-1',
 '2020-12-1',
 '2021-1-1',
 '2021-3-1',
 '2021-4-1',
 '2021-6-1',
 '2021-7-1',
 '2021-9-1',
 '2021-10-1',
 '2021-12-1',
 '2022-1-1',
 '2022-2-1',
 '2022-4-1',
 '2022-5-1',
 '2022-6-1',
 '2022-8-1',
 '2022-9-1',
 '2022-11-1']

In [33]:
df.date = timestamp

In [34]:
df1 = pd.DataFrame()
timestamp1 = []
for i in range(1993,2023,1):
    for j in range(1,13,1):
        timestamp1.append(str(i)+'-'+str(j)+'-1')

In [35]:
df1['date'] = timestamp1
df['date'] = pd.to_datetime(df.date)
df1['date'] = pd.to_datetime(df1.date)

In [40]:
df = df.groupby('date').mean()
df.reset_index(inplace=True)

In [48]:
df2 = df1.merge(df,how='left')
df2 = df2.fillna(method='ffill')

In [51]:
df2.fed_funds_rate = df2.fed_funds_rate.shift(1)

In [52]:
df2.to_csv('preprocessed_Fed_minutes.csv')

In [53]:
df2

          date  fed_funds_rate
0   1993-01-01             NaN
1   1993-02-01             NaN
2   1993-03-01             NaN
3   1993-04-01             NaN
4   1993-05-01             2.0
..         ...             ...
355 2022-08-01             2.0
356 2022-09-01             2.0
357 2022-10-01             2.0
358 2022-11-01             2.0
359 2022-12-01             1.0

[360 rows x 2 columns]